/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* UTILITY CLASSES */
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* Center the card verticallly and horizontally */
.flex-center {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.card {
  width: 65%;
  height: 70%;
  padding: 1rem;
  background-color: goldenrod; /* For testing only */
}

.card__sidebar {
  height: 100%;
  background-color: royalblue; /* For testing only */
  /* background-image: url("../../assets/images/bg-sidebar-desktop.svg"); */
}

.card__form {
  height: 100%;
}

.numbered__steps {
  padding: 1rem 3rem 1rem 1rem;
}

.numbered__step {
  align-items: center;
  margin-bottom: 1rem;
}

.step__number {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.numbered__step--active > .step__number {
  background-color: lightcoral; /* For testing only */
}
