/* CSS VARIABLES */
:root {
  /* COLORS */
  --clr-primary-900: hsl(213, 96%, 18%);
  --clr-primary-700: hsl(243, 100%, 62%);
  --clr-primary-300: hsl(228, 100%, 84%);
  --clr-primary-100: hsl(206, 94%, 87%);
  --clr-secondary-900: hsl(354, 84%, 57%);
  /* NEUTRAL COLORS */
  --clr-neutral-900: hsl(231, 11%, 63%);
  --clr-neutral-700: hsl(229, 24%, 87%);
  --clr-neutral-500: hsl(217, 100%, 97%);
  --clr-neutral-300: hsl(231, 100%, 99%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  /* FONT SIZES */
  --fs-xxs: 0.625rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-xxl: 1.5rem;

  /* FONT WEIGHTS */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* FONT FAMILY */
  --ff-primary: "Ubuntu", sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* UTILITY CLASSES */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* Center the card verticallly and horizontally */
.flex-center {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

/* DEFAULT STYLING */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-900);
  background-color: var(--clr-neutral-700);
}

/* COMPONENTS */

/* CARD COMPONENT */
.card {
  /* width: 65%;
  height: 75%; */
  padding: 0.75rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem; /* For testing only */
  justify-content: space-between;
}

/* SIDEBAR  */
.card__sidebar {
  background-image: url("../../assets/images/bg-sidebar-desktop.svg");
  background-size: cover; /* this will make the image to cover the complete element */
  background-repeat: no-repeat; /*this will prevent the image to repeat */
  border-radius: 0.5rem;
}

/* NUMBERED LIST COMPONENT */
.numbered__steps {
  padding: 1rem 3rem 1rem 1rem;
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-100);
  line-height: 1.1;
}

.numbered__step {
  align-items: center;
  margin-bottom: 1.5rem;
}

.step__number {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--clr-neutral-700);
  color: var(--clr-neutral-100);
}

.numbered__step--active > .step__number {
  border: none;
  background-color: var(--clr-neutral-700);
  color: var(--clr-primary-900);
}

.step__step {
  font-size: var(--fs-xs);
  color: var(--clr-neutral-900);
}

/* FORM */
/* .card__form {
} */

.card__form {
  margin: 0 3rem;
  padding: 1rem;
}

.form__title {
  margin-top: 0.25rem;
  font-size: var(--fs-xxl);
}

.form__desc {
  margin-bottom: 1rem;
  font-size: var(--fs-sm);
  color: var(--clr-neutral-900);
}

.form__textbox {
  margin-bottom: 1.5rem;
}

.textbox_label {
  margin-bottom: 0.25rem;
  font-size: var(--fs-sm);
}

.textbox__field {
  width: 100%;
}
